[ng-click] {
  cursor: pointer;
}

body li {
  list-style-type: none;
}

.uppercase {
  text-transform: uppercase;
}

.errors {
  color: red;
}

.login-button {
  background-color: #85E6CE;
  &:hover {
    background-color: #78CFB9;
  }
}
