// BACKGROUND //

.background {
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
  top:0px;
}

[ng-click] {
  cursor: pointer;
}

body li {
  list-style-type: none;
}

.uppercase {
  text-transform: uppercase;
}

.errors {
  color: red;
}

.login-button {
  background-color: #85E6CE;
  &:hover {
    background-color: #78CFB9;
  }
}

body a.btn {
  cursor: pointer;
  color: black;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

body a {
  cursor: pointer;
  color: black;
  &:hover {
    color: gray;
    text-decoration: none;
  }
}


body .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #f4f3f1;
  color: black;
}

body .nav-tabs a {
  background-color: white;
  color: #555;
  &:hover {
    background-color: #f4f3f1 !important;
    color: black;
  }
}

.inline-block {
  display: inline-block;
}

.address {
  vertical-align: top;
  display: inline-block;
  margin-right: 10px;
}

.address-title {
  font-size:  14px;
}

.address-details {
  padding-top: 5px;
  font-size:  12px;
  p {
    display: block;
    margin-bottom: 2px;
  }
}
