// BOTH //

.product-top-bar {
  height: 40px;
  display: block;
  background: white;
  text-transform: uppercase;
  color: gray;
  padding: 10px;
  font-size: 14px;
  text-align: center;
}

.animate-show {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  opacity: 1;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  display: inline-block !important;
}
.animate-show.ng-hide {
  opacity: 0;
}

// INDEX //

body .products-sort, .products-filter {
  background-color: white;
  z-index: 90;
  position: relative;
  width: 120px;
  float: left;
  cursor: pointer;
  &:hover {
    color: black;
  }
  &.active {
    color: black;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    padding-bottom: 9px;
  }
}

.products-sort-active {
  text-align: right;
  padding-top: 2px;
  z-index: 90;
  width: 150px;
  float: left;
  font-size: 12px;
}

.top-bar-dropdown {
  z-index: 95;
  position: absolute;
  top: 99px;
  left: 0px;
  display: block;
  text-align: left;
  background: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  font-size: 12px;
  border: 1px solid gray;
  .close {
    font-size: 10px;
    margin-top: 5px;
    margin-right: -8px;
    padding: 5px;
  }
}

.sort-dropdown {
  width: 200px;
  a {
    display: block;
    padding-top: 5px;
    margin-right: 15px;
    &.active {
      color: black;
      &:after {
        font-family: FontAwesome;
        content: "\f00c";
        display: inline-block;
        padding-left: 3px;
      }
    }
  }
}

.filter-dropdown{
  form {
    width: 400px;
  }
  .filter-dropdown-column {
    vertical-align: top;
    display: inline-block;
    .title {
      font-weight: bold;
      text-align: center;
      padding-bottom: 15px;
      padding-top: 5px;
    }
    ul {
      padding-left: 0px;
      margin-bottom: 0px;
    }
  }
}

.filter-dropdown-column {
  input[type=text] {
    width: 45px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
  }
  label {
    cursor: pointer;
  }
}

.left-label {
  display: inline-block;
  width: 40px;
  padding: 0px;
  text-align: right;
}

.right-label {
  display: inline-block;
  width: 40px;
  padding: 0px;
  text-align: left;
}

.products-category {
  margin-right: 131px;
  display: inline-block;
}
.products-view {
  width: 60px;
  float: right;
  cursor: pointer;
}

.product {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.basic-info {
  text-transform: uppercase;
  p {
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

p.name {
  font-weight: bold;
}

.alpha60black {
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.6);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.alpha60white {
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(255, 255, 255);
  /* RGBa with 0.6 opacity */
  background-color: rgba(255, 255, 255, 0.6);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.options {
  display: block;
  position: absolute;
  bottom: 55px;
  left: 0px;
  width:100%;
  height:60px;
  color: white;
}

.colors {
  color: black;
  float: left;
  padding: 15px;
  img {
    width: 15px;
    height: 15px;
    margin: -1px;
    border: 1px solid black;
  }
}

.add-to-cart {
  float: right;
  padding: 15px;
  width: 150px;
  height: 60px;
}

.bgimage {
  text-align: right;
  color: white;
  background-size: cover;
  height: 100%;
  background-position-x: 50%;
  background-position-y: 50%;
}

.products {
  ul[rn-carousel] {
    width: 240px;
    height: 240px;
  }
}

// SHOW //

.product-back {
  float: left;
  a {
    display: block;
    width: 200px;
    &:before {
      font-family: FontAwesome;
      content: "\f177";
      display: inline-block;
      padding-right: 6px;
    }
  }
}

.products-indicator {
  float: right;
  .counter {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
}

.product-images {
  z-index: 80;
}

.product-info {
  z-index: 90;
  position: absolute;
  top: 130px;
  right: 300px;
}

.product-name  {
  font-size: 23px;
  text-transform: uppercase;
  font-weight: bold;
}

.product-code {
  font-size: 10px;
  color: gray;
}

.product-price {
  margin-top: 20px;
  text-transform: uppercase;
}

.product-colors {
  cursor: pointer;
  margin-top: 20px;
  display: inline-block;
  margin-right: 2px;
  margin-left: 2px;
  border: 1px solid black;
}

.color-check {
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  position: absolute;
  bottom: 3px;
  left: 3px;
}

.product-sizes {
  margin-top: 20px;
  display: block;
  .size {
    border: 1px solid transparent;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    padding:5px;
    width: 35px;
    margin: 2px;
    &:hover, &.active {
      border: 1px solid black;
    }
  }
}


.modal-layout {
  padding: 10px;

  p {
    text-transform: uppercase;
  }

  .size {
    border: 1px solid transparent;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    padding:5px;
    width: 35px;
    margin: 2px;
    &:hover, &.active {
      border: 1px solid black;
    }
  }
}

.product-show {
  margin-left: 0px;
  margin-right: 0px;
}

.add-to-cart-button {
  margin-top: 20px;
  display: block;
  a {
    padding-top: 20px;
    padding-left: 20px;
    display: block;
    width: 135px;
    height: 60px;
    background: black;
    color: white;
    &:hover {
      color: white;
      &:after {
        font-family: FontAwesome;
        content: "\f217";
        display: inline-block;
        padding-left: 3px;
      }
    }
  }
}

.product-info-show {
  margin-top: 20px;
  .product-info-collapse {
    font-size: 13px;
    text-transform: uppercase;
    p:before {
      font-family: FontAwesome;
      content: "\f104";
      display: inline-block;
      padding-right: 6px;
    }
  }
}

.product-composition, .product-return, .product-shipping {
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 11px;
}
