.background {
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
}

.login {
  width: 100%;
  margin-top:150px;
}

.login-errors {
  margin-top:98px;
}

.login-form {
  display: table-cell;
  padding: 25px;
  background: #f4f3f1;
  vertical-align: top;
}

.register-form {
  display: table-cell;
  padding: 25px;
  background: #fff;
  vertical-align: top;
}

.account-form {
  padding: 25px;
  background: #f4f3f1;
  vertical-align: top;
}

.oauth-login {
  a {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    i {
      padding-right: 5px;
    }
  }
}
